@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" ;

button, input, label  {
    display: block;
    outline: none;
}
label {
    margin-top: 1rem;
}

input.error, textarea.error {
    border-color: red;
    color: red;
}
label.error {
    color: red;
}
